extends layout

block content
	h1= title
	p Welcome to #{title}
	form(name="add_estimation", method="post")
		div.input
			p Entry 
			input(type="submit", value="REGISTER")
			input(type="submit", value="LOGIN")






  
