extends layout

block content
script(src="/socket.io/socket.io.js")
	| javascript:
		var socket=io.connect('http://localhost');
		socket.on('news', function (data) {
    		console.log(data);
    		socket.emit('my other event', { my: 'data' });
  		});
	h1= title
	p Welcome to #{title}
	form(name="add_estimation", action=/message/, method="post")
		div.input
			p Message
			textarea(name="description", row="5", col="150")
		div.actions
			input(type="submit", value="Send")